@charset "utf=8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
 }

 .row{
    float: none;
    margin: 0 auto;
 }

 .col{
    float: none;
    margin: 0 auto;
 }

.about-top{
    background-color: red;
}

.main-information{
    /* background-color: antiquewhite; */
    /* margin-top: 30px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.history{
    background-color: #ECEAE6;
    line-height: 100%;
    margin-top: 30px;
}

.history-list{
    float: left;
}

.history-img{
    
}

.history-card{
    border-color: #ECEAE6 !important;

}

.history-card-list{
    background-color: #ECEAE6 !important;
}

@media (min-width:1420px){
    .history-img{
        width: 100%;
    }
}