.img-Faq{
  width: 1300px;
  height: 400px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about_FAQ {
  max-width: 100%;
  height: 300px;
  background-size: cover;
  background-position: 0%;
  margin-bottom: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/img/office.jpg');
}

.fqa-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fqa_all {
    margin-bottom: 50px;
  }
  .faq-list {
    width: 70%;
    margin-bottom: 50px;

  }
  
  .faq-card {
    display: flex;
    margin-top: 10px;
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid gray;
    border-left: 1px solid #fff;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    /* border-radius: 20px; */
    flex-direction: column;
  }
  
  .faq-card-title {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    /* 수정 */
    align-items: center;
    cursor: pointer;
  }
  
  .faq-card-answer {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    border: 0px solid rgba(225,228,230,.5);
    border-top-width: 1px;
  }
  
  .faq-card-none {
    display: none;
  }
  
  .question-mark {
    color: rgb(12, 77, 162);
    font-size: 20px;
    margin-right: 10px;
  }
  
  .answer-mark {
    color: skyblue;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .category-set {
    margin-top: 3px;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 5px;
    margin-bottom: 50px;
    width: 70%;
    text-align:center !important;
    margin:0 auto !important; 
    margin-bottom: 50px;
    
  }
  
  .category-child {
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    border: 1px solid grey;
    background-color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .category-child:hover {
    font-weight: bolder;
    border-color: black;
  }
  
  .selected {
    border-style: none;
    font-weight: 800;
    background: gray;
    color: #fff;
  }
