 /* login.css */


 *{
  list-style: none;
  text-decoration: none !important;
}

Button > a{
  color: #fff;
}

Button > a:hover{
  color: #fff;
}


html,
body {
  height: 100vh;
}

.login_txt{
  margin: 50px 0 50px 0;
  text-align: center;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.loginInput {
  height: 36px;
  margin-left: 15px;
  margin-right: 15px;
}
/* 버튼 색상 */
.d-grid> button{
  background-color: #a09785 !important;
  border-color: #a09785 !important;
}

.d-grid> button:hover{
  background-color: #928a79 !important;
  border-color: #928a79 !important;
}

.row{
  margin-bottom: 140px !important;
}